<template lang='pug'>
	#administrator
		Navbar
		main
			Sidebar
			section
				.section-top
					.section-top-title
				.section-bottom
					.section-center.full
						.section-left
							.section-left-row
								.section-left-col
									h3.text-gray-600.tracking-wider.font-hairline.text-sm NILAI MATA PELAJARAN
									grades-chart(:styles='chart_styles')
							.section-left-row
								.section-left-col
									.review
										h3.text-gray-600.tracking-wider.font-hairline.text-sm DONASI
								.section-left-col
									.review
										h3.text-gray-600.tracking-wider.font-hairline.text-sm NILAI KELAS
								.section-left-col
									.review
										h3.text-gray-600.tracking-wider.font-hairline.text-sm RATA-RATA NILAI
</template>

<script>
	import Navbar from "@/components/dashboard/partials/Navbar";
	import Sidebar from "@/components/dashboard/partials/Sidebar";
	import GradesChart from "@/components/dashboard/partials/GradesChart";
	import { mapActions, mapGetters } from "vuex";
	import { focus } from "vue-focus";

	export default {
		components: {
			Navbar,
			Sidebar,
			GradesChart
		},
		computed: {
			...mapGetters("user", {
				settings: "settings"
			}),
			...mapGetters("user", {
				user: "user"
			})
		},
		created() {
			this.title = this.$route.meta.pageTitle;
		},
		data() {
			return {
				chart_styles: {
					position: "relative",
					height: "400px",
					width: 0
				},
				title: ""
			};
		},
		directives: { focus: focus },
		methods: {
			calcWidth() {
				this.chart_styles.width =
					window.innerWidth -
					17.5 *
						parseFloat(
							getComputedStyle(document.documentElement).fontSize
						) +
					"px";
			}
		},
		mounted: function() {
			this.$nextTick(function() {
				window.addEventListener("resize", this.calcWidth);
				this.calcWidth();
			});

			if (this.$route.params.status === "sign-in-success") {
				this.$route.params.status = null;
				this.$Progress.finish();

				const message =
					'Masuk sebagai <span class="font-bold">' +
					this.$store.getters["user/user"].fullname +
					"</span>";
				this.$toast.success(message, "Autentikasi Sukses!");
			}

			const self = this;
			for (let i = 1; i <= 5; i++) {
				setTimeout(() => {
					self.$forceUpdate();
				}, 1500 * i);
			}
		},
		name: "Administrator"
	};
</script>
