<template lang='pug'>
	header
		nav
			#nav-left
				a.logo(href='https://sdimaarifgarum.sch.id')
					img(src='@/assets/images/sdiga-1.png')
			#nav-center
				.title {{title}}
				.role {{getRole}}
			#nav-right(v-if='user.signed_in')
				.name {{user.fullname}}
				#img-placeholder(v-if='user.metadata.download_url === ""')
				img(v-if='!(user.metadata.download_url === "")', :src='user.metadata.download_url')
				button.pill.red(v-on:click='signOut') Keluar
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
	data() {
		return {
			title: ''
		}
	},
	name: 'Navbar',
	computed: {
		...mapGetters('user', [
			'user'
		]),
		getRole() {
			let role = null
			switch (this.user.role) {
				case 'administrators':
					role = 'administrator'
					break
				case 'alumnis':
					role = 'alumni'
					break
				case 'students':
					role = 'siswa'
					break
				case 'teachers':
					role = 'guru'
					break
				default:
					role = 'siswa'
					break
			}
			return role
		}
	},
	methods: {
		...mapActions('user', [
			'signOut'
		])
	},
	mounted: function() {
		this.title = this.$route.meta.pageTitle

		const self = this
		for (let i = 1; i <= 5; i++) {
			setTimeout(()=>{
				self.$forceUpdate()
			}, 1500*i)
		}
	},
}
</script>