<template lang='pug'>
	#administrator-students
		Navbar
		main
			Sidebar
			section
				.section-wrapper
					.section-top
						.section-top-title
</template>

<script>
	import Navbar from "@/components/dashboard/partials/Navbar";
	import Sidebar from "@/components/dashboard/partials/Sidebar";
	import { mapActions, mapGetters } from "vuex";
	import { focus } from "vue-focus";

	export default {
		components: {
			Navbar,
			Sidebar
		},
		computed: {
			...mapGetters("user", {
				settings: "settings"
			}),
			...mapGetters("user", {
				user: "user"
			})
		},
		created() {
			this.title = this.$route.meta.pageTitle;
		},
		data() {
			return {
				title: ""
			};
		},
		directives: { focus: focus },
		methods: {},
		mounted: function() {
			if (this.$route.params.status === "sign-in-success") {
				this.$route.params.status = null;
				this.$Progress.finish();

				const message =
					'Masuk sebagai <span class="font-bold">' +
					this.$store.getters["user/user"].fullname +
					"</span>";
				this.$toast.success(message, "Autentikasi Sukses!");
			}

			const self = this;
			for (let i = 1; i <= 5; i++) {
				setTimeout(() => {
					self.$forceUpdate();
				}, 1500 * i);
			}
		},
		name: "AdministratorStudents"
	};
</script>
