<template lang='pug'>
	#student-bills
		Navbar
		main
			Sidebar
			section
				.section-wrapper
					.section-top
						.section-top-title
							.action-bar
								.action
										.label Tahun:
										.relative
											select.rounded-full.py-2.border-none(v-if='selected_year', v-model='selected_year', @change='setYear(selected_year)')
												option(v-for='year in bills_years_by_student', v-bind:value='year') {{year}}
											.select-arrow
												svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20')
													path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
					.section-bottom
						.section-center.full
							.section-left.feeds
								.content-header
									span Transaksi
									span Status
									span Kuitansi
									span Waktu
									span Jumlah
									span Saldo
								.panel(v-for='(bill, key, index) in sorted_bills')
									span {{bill.type}}
									span {{bill.status}}
									span {{bill.receipt}}
									span {{bill.time | formatDate}}
									span.colorized(v-bind:class='getColorByStatus(bill.status)') {{bill.amount}}
									span.colorized(v-bind:class='getColorByBalance(bill.balance)') {{bill.balance}}
								.content-footer
									div
										span {{getStatusByBalance(last_bill)}} SEMESTER
										span(v-bind:class='getColorByBalance(last_bill, true)') {{ positive_last_bill | currency }}
									div
										span TOTAL {{getStatusByBalance(balance_by_student)}}
										span(v-bind:class='getColorByBalance(balance_by_student, true)') {{ positive_balance | currency }}
</template>

<script>
	import Navbar from "@/components/dashboard/partials/Navbar";
	import Sidebar from "@/components/dashboard/partials/Sidebar";
	import { mapActions, mapGetters } from "vuex";
	import _ from "underscore";
	import moment from "moment-timezone";

	export default {
		components: {
			Navbar,
			Sidebar
		},
		computed: {
			...mapGetters("student", ["balance_by_student"]),
			...mapGetters("student", ["bills_by_student"]),
			...mapGetters("student", ["bills_years_by_student"]),
			...mapGetters("student", ["classes_by_student"]),
			sorted_bills() {
				if (_.isEmpty(this.bills_by_student)) {
					return 0;
				} else {
					return _.sortBy(this.bills_by_student, "time");
				}
			},
			last_bill() {
				if (_.isEmpty(this.sorted_bills)) {
					return 0;
				} else {
					return this.sorted_bills[_.size(this.sorted_bills) - 1].balance;
				}
			},
			positive_balance() {
				if (this.balance_by_student === 0) {
					return 0;
				} else {
					return Math.abs(this.balance_by_student);
				}
			},
			positive_last_bill() {
				if (this.last_bill === 0) {
					return 0;
				} else {
					return Math.abs(this.last_bill);
				}
			}
		},
		created() {
			this.title = this.$route.meta.pageTitle;
			this.username = this.$store.getters["user/user"].username;
			this.$store.dispatch("student/getClassesByStudent", {
				username: this.username
			});
			this.$store.dispatch("student/getBillsYearsByStudent", {
				username: this.username
			});
			this.$store.dispatch("student/getBillsByStudent", {
				username: this.username,
				year: null
			});
		},
		data() {
			return {
				selected_year: null,
				title: ""
			};
		},
		filters: {
			formatDate: function(value) {
				if (value) {
					return moment(value.toDate())
						.tz("Asia/Jakarta")
						.format("DD/MM/YYYY HH:mm:ss");
				}
			}
		},
		methods: {
			getColorByStatus: function(status) {
				let color = "text-blue-400";
				switch (status) {
					case "ANGSURAN":
						color = "text-teal-400";
						break;
					case "TAGIHAN":
						color = "text-red-400";
						break;
					case "SETORAN":
						color = "text-teal-400";
						break;
					default:
						break;
				}
				return color;
			},
			getColorByBalance: function(balance, isRounded = false) {
				let color = "text-blue-400";
				if (isRounded) {
					if (balance < 0) {
						color = "rounded-red";
					} else if (balance > 0) {
						color = "rounded-teal";
					}
				} else {
					if (balance < 0) {
						color = "text-red-400";
					} else if (balance > 0) {
						color = "text-teal-400";
					}
				}
				return color;
			},
			getStatusByBalance: function(balance) {
				return balance > 0 ? "DEPOSIT" : "TAGIHAN";
			},
			setYear: function(selected_year) {
				this.$store.dispatch("student/getBillsByStudent", {
					username: this.username,
					year: selected_year
				});
			}
		},
		mounted: function() {
			let self = this;
			for (let i = 1; i <= 3; i++) {
				setTimeout(() => {
					self.$forceUpdate();
					if (
						self.selected_year !=
						self.bills_years_by_student[
							self.bills_years_by_student.length - 1
						]
					) {
						if (
							_.contains(
								self.bills_years_by_student,
								self.selected_year
							) != true
						)
							self.selected_year =
								self.bills_years_by_student[
									self.bills_years_by_student.length - 1
								];
					}
				}, i * 5000);
			}
		},
		name: "StudentBills"
	};
</script>
