<template lang='pug'>
	#student-donations
		Navbar
		main
			Sidebar
			section
				.section-wrapper
					.section-top
						.section-top-title
							h3 Riwayat {{ title }}
					.section-bottom
						.section-center.full
							.section-left.feeds.grow
								.content-header
									span Tipe
									span Detil
									span Pesan
									span Waktu
									span Jumlah
								.panel.cursor-pointer(v-for='(donation, key) in donations_by_student', @click='toggleOpen(key)')
									div
										img.hue-rotate(:src='donation.icon')
										p.ml-2 {{ donation.type }}
									div.flex-col
										div {{ donation.details.name }}
										div(v-show='isOpen === key', v-for='(detail, detail_key) in donation.details')
											div(v-if='detail_key != "name"') {{ detail }}
									div {{ donation.message }}
									div {{ donation.time | formatDate }}
									div(v-if='donation.type != "Dana"') {{ donation.amount }}
									div(v-else) {{ donation.amount | currency }}
</template>

<script>
	import Navbar from "@/components/dashboard/partials/Navbar";
	import Sidebar from "@/components/dashboard/partials/Sidebar";
	import { mapActions, mapGetters } from "vuex";
	import _ from "underscore";
	import moment from "moment-timezone";

	export default {
		components: {
			Navbar,
			Sidebar
		},
		computed: {
			...mapGetters("student", ["donations_by_student"])
		},
		created() {
			this.title = this.$route.meta.pageTitle;
			this.username = this.$store.getters["user/user"].username;
			this.$store.dispatch("student/getDonationsByStudent", {
				username: this.username
			});
		},
		data() {
			return {
				isOpen: null,
				title: ""
			};
		},
		filters: {
			formatDate: function(value) {
				if (value) {
					return moment(value.toDate())
						.tz("Asia/Jakarta")
						.format("DD/MM/YYYY HH:mm:ss");
				}
			}
		},
		methods: {
			toggleOpen(key) {
				if (this.isOpen === key) this.isOpen = null;
				else this.isOpen = key;
			}
		},
		mounted: function() {},
		name: "StudentDonations"
	};
</script>
