<template lang='pug'>
	#student-grades
		Navbar
		main
			Sidebar
			section
				.section-wrapper
					.section-top
						.section-top-title
							.action-bar
								.action
									.label Tahun:
									.relative
										select.rounded-full.py-2.border-none(v-if='selected_year', v-model='selected_year')
											option(v-for='year in all_years', v-bind:value='year') {{year}}
										.select-arrow
											svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20')
												path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
								.action
									.label Kelas:
									.options
										button(@click='selected_class = "all"', v-bind:class='{active : selected_class=="all"}') semua
										button.uppercase(v-for='classe in all_classes_key', @click='selected_class = classe', v-bind:class='{active : selected_class == classe}') {{classe}}
								.action
									.label Semester:
									.options
										button(@click='selected_semester = "all"', v-bind:class='{active : selected_semester=="all"}') semua
										button(v-for='semester in unique_all_semesters_key', @click='selected_semester = semester', v-bind:class='{active : selected_semester == semester}') {{semester}}
					.section-bottom
						.section-center
							.section-left.small
								.panel(v-for='(course, key) in filtered_courses', v-if='classes_by_student && selected_course && student_courses!="..." && courses && teachers', @click="selectCourse(course, key)")
									a
										article
											.article-left(v-bind:class='getColorByGrade(key, course.grade)')
												h1 {{calGrade(key, course.grade)}}
											.article-right
												.article-label
													h3 {{courses[key].name}}
												.article-label
													h3 {{teachers[course.teacher].profile.fullname}}
						.section-right(v-if='classes_by_student && selected_course && student_courses!="..." && courses && teachers')
							.header
								.left
									.title Detil nilai
									.subtitle {{courses[selected_course.id].name}}
								.right
									button.value(v-bind:class='getColorByGrade(selected_course.id, selected_course.grade)') {{calGrade(selected_course.id, selected_course.grade)}}
							.content
								.item
									.title Absensi
									.value {{selected_course.grade.presence.value}}
								.item
									.title Tugas
									.value {{selected_course.grade.assignment.value}}
								.item
									.title Ujian Tengah Semester
									.value {{selected_course.grade.mid_test.value}}
								.item
									.title Ujian Akhir Semester
									.value {{selected_course.grade.final_test.value}}
</template>

<script>
	import Navbar from "@/components/dashboard/partials/Navbar";
	import Sidebar from "@/components/dashboard/partials/Sidebar";
	import { mapActions, mapGetters } from "vuex";
	import { focus } from "vue-focus";
	import _ from "underscore";

	export default {
		components: {
			Navbar,
			Sidebar
		},
		computed: {
			...mapGetters("course", ["courses"]),
			...mapGetters("student", ["classes_by_student"]),
			...mapGetters("teacher", ["teachers"]),
			all_classes_key() {
				if (
					typeof this.courses === "undefined" ||
					this.courses === null ||
					typeof this.classes_by_student === "undefined" ||
					this.classes_by_student === null ||
					typeof this.teachers === "undefined" ||
					this.teachers === null
				) {
					return "...";
				} else {
					return _.keys(this.classes_by_student[this.selected_year]);
				}
			},
			filtered_courses() {
				let self = this;
				let courses = {};
				let filtered = _.filter(this.student_courses, function(
					student_course,
					key_student_course
				) {
					_.map(self.all_semesters, function(classe, key_classe) {
						_.map(classe, function(semester, key_semester) {
							_.map(semester, function(course, key_course) {
								if (self.selected_class == "all") {
									if (self.selected_semester == "all") {
										courses[key_course] = course;
									} else if (
										self.selected_semester == key_semester
									) {
										if (key_course == key_student_course) {
											courses[key_course] = course;
										}
									}
								} else if (self.selected_class == key_classe) {
									if (self.selected_semester == "all") {
										courses[key_course] = course;
									} else if (
										self.selected_semester == key_semester
									) {
										if (key_course == key_student_course) {
											courses[key_course] = course;
										}
									}
								}
							});
						});
					});
				});
				return courses;
			},
			student_courses() {
				if (
					typeof this.courses === "undefined" ||
					this.courses === null ||
					typeof this.classes_by_student === "undefined" ||
					this.classes_by_student === null ||
					typeof this.teachers === "undefined" ||
					this.teachers === null
				) {
					return "...";
				} else {
					let courses = {};
					for (let classe in this.all_semesters) {
						for (let semester in this.all_semesters[classe]) {
							for (let course in this.all_semesters[classe][
								semester
							]) {
								courses[course] = this.all_semesters[classe][
									semester
								][course];
								courses[course].class = classe;
								courses[course].semester = semester;
								courses[course].teacher = this.courses[
									course
								].teacher;
								courses[course].year = this.selected_year;
							}
						}
					}
					return courses;
				}
			},
			all_semesters() {
				if (
					typeof this.courses === "undefined" ||
					this.courses === null ||
					typeof this.classes_by_student === "undefined" ||
					this.classes_by_student === null ||
					typeof this.teachers === "undefined" ||
					this.teachers === null
				) {
					return "...";
				} else {
					let semesters = {};
					for (let classe in this.classes_by_student[
						this.selected_year
					]) {
						semesters[classe] = this.classes_by_student[
							this.selected_year
						][classe];
					}
					return semesters;
				}
			},
			all_semesters_key() {
				if (
					typeof this.courses === "undefined" ||
					this.courses === null ||
					typeof this.classes_by_student === "undefined" ||
					this.classes_by_student === null ||
					typeof this.teachers === "undefined" ||
					this.teachers === null
				) {
					return "...";
				} else {
					let semester_key = [];
					for (let classes in this.all_semesters) {
						for (let semester in this.all_semesters[classes]) {
							semester_key.push(semester);
						}
					}
					return semester_key;
				}
			},
			all_years() {
				if (
					typeof this.courses === "undefined" ||
					this.courses === null ||
					typeof this.classes_by_student === "undefined" ||
					this.classes_by_student === null ||
					typeof this.teachers === "undefined" ||
					this.teachers === null
				) {
					return new Date().getFullYear();
				} else {
					return Object.keys(this.classes_by_student);
				}
			},
			unique_all_semesters_key: function() {
				if (
					typeof this.courses === "undefined" ||
					this.courses === null ||
					typeof this.classes_by_student === "undefined" ||
					this.classes_by_student === null ||
					typeof this.teachers === "undefined" ||
					this.teachers === null
				) {
					return "...";
				} else {
					var existingSemester = {};
					return this.all_semesters_key.filter(function(semester) {
						if (existingSemester[semester]) return false;
						return (existingSemester[semester] = true);
					});
				}
			}
		},
		created() {
			this.title = this.$route.meta.pageTitle;
			this.username = this.$store.getters["user/user"].username;
			this.getClassesByStudent({
				username: this.username
			});
			this.getTeachers();
		},
		data() {
			return {
				selected_class: "all",
				selected_course: null,
				selected_semester: "all",
				selected_year: new Date().getFullYear(),
				title: "",
				username: null
			};
		},
		directives: { focus: focus },
		methods: {
			...mapActions("student", ["getClassesByStudent"]),
			...mapActions("teacher", ["getTeachers"]),
			calGrade(key, grades) {
				let total = 0;
				if (grades != null) {
					let total_percentage = 0;
					_.map(this.courses[this.selected_course.id].settings, function(
						setting
					) {
						if (setting.enabled) {
							total_percentage += parseInt(setting.percentage);
						}
					});
					_.map(this.courses[this.selected_course.id].settings, function(
						setting,
						key
					) {
						if (setting.enabled) {
							total +=
								(parseInt(setting.percentage) / total_percentage) *
								parseInt(grades[key].value);
						}
					});
				}
				return total.toFixed();
			},
			getColorByGrade(key, grade) {
				if (this.calGrade(key, grade) >= 85) return "green";
				else if (this.calGrade(key, grade) >= 75) return "yellow";
				else return "red";
			},
			selectCourse(course, key) {
				this.selected_course = course;
				this.selected_course.id = key;
			}
		},
		mounted: function() {
			let self = this;
			for (let i = 1; i <= 3; i++) {
				setTimeout(() => {
					//- self.$forceUpdate()
					if (
						self.selected_year !=
						self.all_years[self.all_years.length - 1]
					) {
						self.selected_year =
							self.all_years[self.all_years.length - 1];
					}
					if (
						self.classes_by_student &&
						self.student_courses != "..." &&
						self.selected_course == null
					) {
						self.selected_course =
							self.student_courses[
								Object.keys(self.student_courses)[0]
							];
						self.selected_course.id = Object.keys(
							self.student_courses
						)[0];
					}
				}, i * 5000);
			}
		},
		name: "StudentGrades"
	};
</script>
