<template lang='pug'>
	div
		.form-switch
			input(type='checkbox', v-bind:id='id', v-bind:name='id', v-bind:value='value', v-model='isToggle', v-on:change='$emit(\'input\', $event.target.checked)')
			label(v-bind:for='id')
		label.text-xs.text-grey-dark(v-bind:for='id') {{ `${ isToggle ? onText : offText }` }}
</template>
<script>
	export default {
		mounted () {
			this.isToggle = this.value
		},
		props: ['value', 'onText', 'offText', 'id'],
		data () {
			return {
				isToggle: false
			}
		}
	}
</script>