<template lang='pug'>
	#teacher-classes
		Navbar
		main
			Sidebar
			section
				.section-wrapper
					.section-top
						.section-top-title
							.action-bar
								.action
									.label Tahun:
									.relative
										select.rounded-full.py-2.border-none(v-if='selected_year', v-model='selected_year')
											option(v-for='year in all_years', v-bind:value='year') {{year}}
										.select-arrow
											svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20')
												path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
								.action
									.label Semester:
									.options
										button(@click='selected_semester = "all"', v-bind:class='{active : selected_semester=="all"}') semua
										button(v-for='semester in all_semesters', @click='selected_semester = semester', v-bind:class='{active : selected_semester == semester}') {{semester}}
					.section-bottom
						.section-center.full
							.section-left.small
								.panel(v-if='classes_by_teacher', v-for='classe in filtered_classes')
									router-link.dashboard(:to='{ name: "TeacherClass", params: { year: classe.year, class: classe.name, semester: classe.semester } }')
										article
											.article-left
												h1.huge {{classe.name}}
											.article-right
												.article-label
													h3
														label.opacity-75 Jumlah Murid:
														label.font-bold.pl-2 {{classe.total_students}}
												.article-label
													h3
														label.opacity-75 Semester:
														label.font-bold.pl-2 {{classe.semester}}
												.article-label
													h3
														label.opacity-75 Tahun Ajaran:
														label.font-bold.pl-2 {{classe.year}}
</template>

<script>
	import Navbar from "@/components/dashboard/partials/Navbar";
	import Sidebar from "@/components/dashboard/partials/Sidebar";
	import Modal from "@/components/partials/_Modal";
	import { mapActions, mapGetters } from "vuex";
	import _ from "underscore";

	export default {
		components: {
			Modal,
			Navbar,
			Sidebar
		},
		computed: {
			...mapGetters("classe", ["classes_by_teacher"]),
			all_semesters() {
				if (
					typeof this.classes_by_teacher === "undefined" ||
					this.classes_by_teacher === null
				) {
					return "...";
				} else {
					return _.uniq(
						_.map(this.classes_by_teacher, function(
							classe,
							key_classe
						) {
							return classe.semester;
						})
					);
				}
			},
			all_years() {
				if (
					typeof this.classes_by_teacher === "undefined" ||
					this.classes_by_teacher === null
				) {
					return new Date().getFullYear();
				} else {
					return _.uniq(
						_.map(this.classes_by_teacher, function(
							classe,
							key_classe
						) {
							return classe.year;
						})
					);
				}
			},
			filtered_classes() {
				const self = this;
				return _.filter(this.classes_by_teacher, function(
					classe,
					key_classe
				) {
					if (self.selected_year == classe.year) {
						if (self.selected_semester == "all") {
							return true;
						} else if (self.selected_semester == classe.semester) {
							return true;
						}
					}
				});
			}
		},
		created() {
			this.title = this.$route.meta.pageTitle;
			this.username = this.$store.getters["user/user"].username;
			this.getClassesByTeacher({
				username: this.username
			});
		},
		data() {
			return {
				selected_semester: "all",
				selected_year: new Date().getFullYear(),
				title: "",
				username: null
			};
		},
		methods: {
			...mapActions("classe", ["getClassesByTeacher"])
		},
		mounted: function() {
			let self = this;
			for (let i = 1; i <= 3; i++) {
				setTimeout(() => {
					self.$forceUpdate();
					if (
						self.selected_year !=
						self.all_years[self.all_years.length - 1]
					) {
						self.selected_year =
							self.all_years[self.all_years.length - 1];
					}
				}, i * 1500);
			}
		},
		name: "TeacherClasses"
	};
</script>
