<template lang='pug'>
	#signin.form
		.container.mx-auto
			.mx-auto.max-w-sm
				.form-card
					.form-card-header
						.form-card-header-title Selamat datang kembali
						.form-card-header-body
							.form-card-header-body-label Masuk sebagai:
							.form-card-header-body-action
								.relative.w-full
									select.gray.full(v-model='selected_role')
										option(v-for='role in roles', v-bind:value='role.value') {{role.name}}
									.select-arrow
										svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20')
											path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
					form.form-card-body(v-on:submit.prevent='signIn({username, password, selected_role})')
						input(type='text', v-model='username', placeholder='Nama pengguna')
						input(type='password', v-model='password', placeholder='Kata sandi')
						button.pill(type='submit') Sign In
					.form-card-footer
						.form-card-footer-two-panels
							router-link.bold-blue(class='hover:text-blue-600', to='signup') Tidak punya akun?
							router-link(class='hover:text-gray-800', to='#') Lupa kata sandi?
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'

	export default {
		created() {
			this.title = this.$route.meta.pageTitle
		},
		data: function() {
			return {
				password: null,
				selected_role: 'administrators',
				roles:[
					{
						name: 'Administrator',
						value: 'administrators'
					},
					{
						name: 'Guru',
						value: 'teachers'
					},
					{
						name: 'Siswa',
						value: 'students'
					},
				],
				username: null,
			}
		},
		methods: {
			...mapActions('user', {
				signIn: 'signIn'
			}),
		},
		name: 'SignIn',
	}
</script>