<template lang='pug'>
	#signup.form
		.container.mx-auto.p-4
			.mx-auto.max-w-sm
				.bg-white.rounded-lg.shadow
					.border-b.py-8.font-bold.text-gray-900.text-center.text-xl.tracking-widest.uppercase Welcome back!
					form.bg-gray-100.px-10.py-10(@submit='validateForm')
						.mb-3
							input.border.w-full.p-3.rounded-full(type='text', v-model='username', placeholder='Nama Pengguna')
						.mb-3
							input.border.w-full.p-3.rounded-full(type='text', v-model='email', placeholder='Alamat Surel')
						.mb-3
							input.border.w-full.p-3.rounded-full(type='password', v-model='password', placeholder='Sandi')
						.mb-6
							input.border.w-full.p-3.rounded-full(type='password', v-model='password_confirmation', placeholder='Konfirmasi Sandi')
						.flex
							button.pill.w-full.py-3(class='hover:bg-green-400', type='submit') Sign Up
					.border-t.px-10.py-6
						.flex.justify-between
							router-link.font-bold.text-blue.no-underline(class='hover:text-blue-400', to='signin') Already have an account?
</template>

<script>
import { mapActions } from 'vuex'

export default {
	name: 'SignUp',
	data: function() {
		return {
			email: null,
			errors: [],
			password: null,
			password_confirmation: null,
			username: null
		}
	},
	methods: {
		...mapActions('user', ['signUp']),
		validateForm: function (e) {
			if (this.email && this.password && this.password_confirmation && this.username) {
				//- this.signUp(this.username, this.email, this.password)
				return true
			}

			this.errors = []

			if (!this.username) this.errors.push('Harap melengkapi nama pengguna')
			if (!this.email) this.errors.push('Harap melengkapi alamat surel')
			if (!this.password) this.errors.push('Harap melengkapi sandi')
			if (!this.password_confirmation) this.errors.push('Harap melengkapi konfirmasi sandi')

			if (this.errors.length) {
				let vm = this
				for (var index in this.errors) {
					//toastr.error(vm.errors[index])
				}
			}

			e.preventDefault()
		}
	}
}
</script>