<template>
	<div id="app">
		<router-view />
		<vue-progress-bar></vue-progress-bar>
		<portal-target name="modals"></portal-target>
	</div>
</template>

<script>
	export default {
		name: "App"
	};
</script>


<style src="./assets/sass/main.sass" lang="sass"></style>
