.backdrop
	@apply fixed
	@apply inset-0
	@apply p-16
	@apply z-30
	+bgOpacity(black, 0.5)

	.modal
		@apply bg-gray-100
		@apply flex-shrink-0
		@apply h-auto
		@apply mx-auto
		@apply overflow-hidden
		@apply p-6
		@apply relative
		@apply rounded-lg
		@apply shadow-xl
		@apply w-2/5
		@apply z-40

		&.blue
			+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.blue.400'), theme('colors.purple.400'))
			.modal-footer
				.submit
					button
						@apply text-purple-300
		&.green
			+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.green.400'), theme('colors.green.300'))
			.modal-footer
				.submit
					button
						@apply text-green-300

		svg
			@apply absolute
			@apply bottom-0
			@apply left-0
			@apply mb-8

		.modal-header
			@apply capitalize
			@apply flex
			@apply flex-row
			@apply font-semibold
			@apply items-center
			@apply justify-between
			@apply pb-3
			@apply relative
			@apply text-white
			@apply text-3xl
			@apply z-50

			button
				@apply h-8
				@apply p-1
				@apply w-8

				img
					@apply invert
					@apply w-full

		.modal-body
			@apply bg-white
			@apply flex
			@apply items-center
			@apply justify-center
			@apply p-2
			@apply relative
			@apply rounded-lg
			@apply w-full

			form
				input
					position: absolute
					clip: rect(0,0,0,0)

			.upload-bar-container
				@apply border
				@apply border-gray-300
				@apply flex
				@apply items-center
				@apply p-1
				@apply rounded-full
				@apply w-full

				.upload-bar
					@apply p-1
					@apply rounded-full
					@apply w-0
					+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.blue.400'), theme('colors.purple.400'))

					span
						@apply float-right
						@apply font-bold
						@apply text-white
						@apply text-xs

			.upload-container, .uploaded-container
				@apply bg-white
				@apply flex
				@apply flex-col
				@apply items-center
				@apply justify-center
				@apply relative
				@apply rounded-lg

			.upload-container
				@apply border-2
				@apply border-dashed
				@apply border-gray-300
				@apply cursor-pointer
				@apply p-10
				@apply w-full

				img
					@apply max-w-xs
					@apply relative

				span
					@apply font-thin
					@apply opacity-50
					@apply text-gray-600
					@apply text-xl
					@apply tracking-wide

			.uploaded-container
				@apply overflow-hidden
				@apply w-full

				button
					@apply absolute
					@apply h-8
					@apply p-1
					@apply right-0
					@apply rounded-none
					@apply rounded-bl-lg
					@apply top-0
					@apply w-8

					img
						@apply invert
						@apply w-full

				img
					@apply object-cover
					@apply rounded-lg
					@apply w-full

		.modal-footer
			@apply px-4
			@apply mt-6
			@apply relative
			@apply text-white

			.footer-container
				@apply flex
				@apply items-center
				@apply justify-between

				.file-details
					@apply block
					@apply break-words
					@apply w-1/2

					span:first-child
						@apply block
						@apply opacity-75
						@apply -mb-1

					span:last-child
						@apply block
						@apply font-semibold
						@apply overflow-visible
						@apply text-xl

				.submit
					@apply block
					@apply flex
					@apply justify-end
					@apply self-end
					@apply w-1/2

					button
						@apply w-auto
						+diagonalLinearGradient(theme('colors.white'), theme('colors.gray.100'), theme('colors.gray.200'))

.fade-shrink-in-enter-active,
.fade-shrink-in-leave-active
	transition: all .3s ease

.fade-shrink-in-enter,
.fade-shrink-in-leave-to
	opacity: 0
	transform: scale(1.1)