section
	@apply flex
	@apply flex-col
	@apply flex-grow
	@apply flex-1
	@apply pl-24
	@apply w-full

	.section-bottom, .section-top
		@apply flex

	.section-bottom
		@apply flex-row

		&.no-title
			.section-center
				@apply mt-8

		.section-center
			@apply flex
			@apply flex-col
			@apply pl-16
			@apply pr-4
			@apply mt-16
			@apply w-3/4
			@apply z-10

			&.full
				@apply pr-16
				@apply w-full

				.section-left
					.section-left-row
						@apply flex
						@apply flex-row
						@apply items-center
						@apply justify-between
						@apply my-2
						@apply -mx-2
						@apply w-full

						.section-left-col
							@apply bg-white
							@apply flex
							@apply flex-1
							@apply flex-col
							@apply mx-2
							@apply overflow-hidden
							@apply p-6
							@apply rounded-lg
							@apply shadow-lg
							@apply max-w-full
							@apply w-full

			.section-left
				@apply content-start
				@apply flex
				@apply w-full

				&:not(.small)
					@apply flex-col

					.panel
						@apply p-3
						@apply w-full

				&.feeds
					@apply mb-4

					&.files
						.content-header, .panel
							& > *
								&:first-child
									@apply justify-start
									@apply w-40

								&:last-child
									@apply justify-end

								&:nth-child(2), &:nth-child(3), &:nth-child(4)
									@apply justify-center

								&:nth-child(2)
									@apply w-56

								&:nth-child(3), &:nth-child(4), &:last-child
									@apply w-20

					&.students
						.content-header, .panel
							& > *
								&:first-child
									@apply justify-start
									@apply w-2/12

								&:last-child
									@apply justify-end
									@apply w-1/12

								&:nth-child(2)
									@apply justify-center
									@apply w-9/12

						.panel
							& > *
								&:first-child
									@apply font-semibold

					&.teachers
						.content-header, .panel
							& > *
								&:first-child, &:last-child
									@apply justify-start
									@apply w-1/12

								&:first-child
									img
										@apply h-12
										@apply w-12

								&:last-child
									@apply justify-end

								&:nth-child(2), &:nth-child(3), &:nth-child(4)
									@apply justify-center

								&:nth-child(2)
									@apply w-2/12

								&:nth-child(3)
									@apply w-3/12

								&:nth-child(4)
									@apply w-5/12

					.content-footer
						@apply flex
						@apply flex-col
						@apply items-end
						@apply justify-center
						@apply uppercase

						div
							@apply pr-2
							@apply my-1

							span
								@apply font-semibold
								@apply text-right
								@apply px-4
								@apply rounded-lg

								&:not(:last-of-type)
									@apply text-gray-700

								&:last-of-type
									@apply font-bold
									@apply w-20

								&.rounded-teal
									@apply text-white
									+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.green.400'), theme('colors.green.300'))

								&.rounded-red
									@apply text-white
									+diagonalLinearGradient(theme('colors.red.300'), theme('colors.red.400'), theme('colors.red.500'))

					.content-header, .panel
						@apply items-center
						@apply justify-between

						& > *
							@apply flex
							@apply items-center
							@apply text-center

					.content-header
						@apply flex
						@apply flex-row
						@apply mt-2
						@apply px-2

						& > *
							&:first-child
								@apply pl-3

							&:last-child
								@apply pr-3

						&.dark
							span
								@apply text-black

						span
							@apply font-bold
							@apply text-white
							@apply uppercase

				&.small
					@apply flex-row
					@apply flex-wrap

					& > .panel
						@apply flex-shrink-0
						width: 48.625%

						&:nth-child(odd)
							@apply mr-6

			.section-left-title
				@apply flex
				@apply font-bold
				@apply items-center
				@apply justify-between
				@apply px-6
				@apply rounded-bl-full
				@apply text-white
				@apply uppercase
				@apply w-full

				&.dark
					@apply text-black

		.section-right
			@apply bg-white
			@apply fixed
			@apply right-0
			@apply flex
			@apply flex-col
			@apply items-center
			@apply justify-start
			@apply rounded-tl-2xl
			@apply shadow-lg
			@apply z-10
			height: calc(theme('height.screen') - theme('spacing.20'))
			width: calc((theme('width.screen') - theme('spacing.24'))/4)

			img
				@apply mx-auto
				@apply w-full

			.header
				@apply border-b
				@apply border-gray-200
				@apply capitalize
				@apply flex
				@apply flex-row
				@apply items-center
				@apply justify-between
				@apply pl-12
				@apply pr-6
				@apply py-6
				@apply rounded-tl-2xl
				@apply w-full

				& > *
					@apply flex
					@apply flex-col
					@apply items-center

				.left
					& > *
						@apply flex
						@apply leading-none
						@apply w-full

					.subtitle
						@apply mt-1
						@apply text-gray-600
						@apply uppercase

					.title
						@apply font-bold
						@apply text-gray-800
						@apply text-2xl
						@apply tracking-wide

				.right
					.value
						@apply font-black
						@apply px-3
						@apply py-2
						@apply rounded-full
						@apply self-center
						@apply text-white
						@apply text-2xl
						@apply tracking-wide
						+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.blue.400'), theme('colors.purple.400'))

						&.green
							+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.green.400'), theme('colors.green.300'))

						&.red
							+diagonalLinearGradient(theme('colors.orange.300'), theme('colors.red.300'), theme('colors.red.400'))

						&.yellow
							+diagonalLinearGradient(theme('colors.green.400'), theme('colors.yellow.300'), theme('colors.orange.200'))

			.content
				@apply flex
				@apply flex-col
				@apply p-6
				@apply pl-8
				@apply w-full

				&.compact
					@apply py-4

				.content-container
					@apply flex
					@apply flex-col
					@apply items-center
					@apply justify-center
					@apply overflow-hidden
					@apply rounded-lg
					@apply relative
					@apply w-full

					button
						@apply absolute
						@apply h-8
						@apply p-1
						@apply right-0
						@apply rounded-none
						@apply rounded-bl-lg
						@apply top-0
						@apply w-8

						img
							@apply invert
							@apply w-5

				.item
					@apply py-2

					&.compact
						@apply py-1

					& > *
						@apply leading-none
						@apply w-full

					.title
						@apply flex
						@apply flex-row
						@apply items-center
						@apply justify-between
						@apply text-gray-500
						@apply tracking-tight
						@apply uppercase

					.value
						@apply font-bold
						@apply text-gray-800
						@apply text-3xl
						@apply tracking-wide

			.footer
				@apply flex
				@apply flex-col
				@apply px-5
				@apply pt-2
				@apply w-full

	.section-top-title
		@apply bg-pink-900
		@apply fixed
		@apply font-bold
		@apply h-32
		@apply justify-between
		@apply pl-16
		@apply pr-3
		@apply rounded-bl-full
		@apply text-white
		@apply uppercase
		@apply w-full

		.action-bar
			@apply bg-white
			@apply inline-flex
			@apply items-center
			@apply justify-between
			@apply px-3
			@apply py-2
			@apply rounded-full
			@apply shadow-inner
			max-width: calc(theme('width.full') - theme('width.1/4') - theme('width.24'))
			+bgOpacity(black, .1)

			.action
				@apply flex
				@apply flex-row
				@apply items-center
				@apply justify-between
				@apply ml-4

				.label
					@apply mr-2
					@apply text-xs

				.options
					@apply flex
					@apply items-center
					@apply py-1

					button
						@apply flex
						@apply font-bold
						@apply items-center
						@apply justify-between
						@apply mx-1
						@apply px-3
						@apply py-2
						@apply rounded-full
						@apply text-xs

						&.active
							@apply bg-green-gradient
							@apply text-white

						&:not(.active)
							@apply opacity-75
							@apply shadow
							@apply text-white
							+bgOpacity(white, .1)

							&:hover
								@apply opacity-100