@tailwind base
@import mixins
@tailwind components
@tailwind utilities
@import partials/form
@import partials/header
@import partials/modal
@import partials/section
@import partials/sidebar
@import '~izitoast/dist/css/iziToast.min'

a, button
	@apply capitalize
	@apply items-center
	@apply no-underline
	@apply px-3
	@apply py-2
	@apply text-gray-500
	@apply text-sm

	&.bold-blue
		@apply font-bold
		@apply text-blue-400

	&.icon
		@apply flex
		@apply flex-col
		@apply items-center
		@apply justify-around
		@apply p-2

		&:hover
			@apply bg-gray-100
			@apply rounded-lg

		img, span
			@apply flex

		img
			@apply w-12

		span
			@apply font-bold
			@apply text-gray-700

	&.pill
		@apply font-bold
		@apply rounded-full
		@apply text-center
		@apply text-white
		+diagonalLinearGradient(theme('colors.orange.300'), theme('colors.orange.300'), theme('colors.pink.400'))

		&.blue
			+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.blue.400'), theme('colors.purple.400'))

		&.green
			+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.green.400'), theme('colors.green.300'))

		&.red
			+diagonalLinearGradient(theme('colors.orange.300'), theme('colors.pink.400'), theme('colors.red.600'))

body, html, #app
	@apply min-h-screen
	@apply min-w-full

body
	@apply bg-gray-100

button:focus, input, select:focus
	@apply outline-none

html
	@apply font-sans

input, input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
	@apply bg-white
	@apply text-gray-700
	-webkit-box-shadow: 0 0 0 30px white inset

main
	@apply flex
	@apply flex-row
	@apply min-h-screen
	@apply min-w-full
	@apply pt-20

select
	@apply appearance-none
	@apply bg-white
	@apply block
	@apply border
	@apply border-gray-300
	@apply leading-tight
	@apply p-3
	@apply pr-8
	@apply rounded-lg
	@apply text-gray-700
	@apply w-auto

	&:focus
		@apply bg-white
		@apply border-gray-500

	&.full
		@apply w-full

	&.gray
		@apply bg-gray-100

#app, #app > *
	@apply flex
	@apply flex-1

	& > div:not(.vue-portal-target)
		@apply min-w-full

#signin
	+verticalLinearGradient(theme('colors.indigo.900'), theme('colors.pink.900'))

.bg-green-gradient
	+diagonalLinearGradient(theme('colors.yellow.300'), theme('colors.green.400'), theme('colors.teal.400'))

.bg-yellow-gradient
	+diagonalLinearGradient(theme('colors.green.300'), theme('colors.yellow'), theme('colors.yellow.400'))

/* CHECKBOX TOGGLE SWITCH */
.form-switch
	@apply align-middle
	@apply inline-block
	@apply leading-normal
	@apply mr-2
	@apply relative
	@apply select-none
	@apply w-12

	input
		@apply hidden

		&:checked + label
			@apply shadow-none
			+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.green.400'), theme('colors.green.300'))

		&:checked + label::before
			@apply right-0

	label
		@apply block
		@apply border
		@apply cursor-pointer
		@apply h-6
		@apply overflow-hidden
		@apply rounded-full
		@apply shadow-inner
		+diagonalLinearGradient(theme('colors.orange.300'), theme('colors.pink.400'), theme('colors.red.600'))
		+transition(background-color 0.2s ease-in)

		&::before
			@apply absolute
			@apply bg-white
			@apply block
			@apply border
			@apply inset-y-0
			@apply rounded-full
			@apply w-6
			@apply -ml-1
			content: ''
			right: 50%
			+transition(all 0.2s ease-in)

.hue-rotate
	filter: hue-rotate(330deg)

.hue-rotate-green
	filter: hue-rotate(270deg)

.iziToast
	@apply cursor-pointer
	@apply font-sans
	@apply overflow-hidden
	@apply rounded-lg
	@apply shadow-md
	+transform(none)

	&.iziToast-color-blue
		@apply bg-blue-200

		.iziToast-body .iziToast-texts > *
			@apply text-blue-800

		.iziToast-progressbar
			div
				@apply bg-blue-600

	&.iziToast-color-green
		@apply bg-teal-200

		.iziToast-body .iziToast-texts > *
			@apply text-teal-800

		.iziToast-progressbar
			div
				@apply bg-teal-600

	&.iziToast-color-orange
		@apply bg-orange-200

		.iziToast-body .iziToast-texts > *
			@apply text-orange-800

		.iziToast-progressbar
			div
				@apply bg-orange-600

	&.iziToast-color-red
		@apply bg-red-200

		.iziToast-body .iziToast-texts > *
			@apply text-red-800

		.iziToast-progressbar
			div
				@apply bg-red-600

	&.iziToast-color-yellow
		@apply bg-yellow-200

		.iziToast-body .iziToast-texts > *
			@apply text-yellow-800

		.iziToast-progressbar
			div
				@apply bg-yellow-600

	.iziToast-body
		@apply m-0
		@apply p-0

		.iziToast-icon
			@apply hidden

		.iziToast-texts
			@apply font-medium
			@apply tracking-wide

			.iziToast-message
				@apply -ml-1

	.iziToast-progressbar
		div
			@apply opacity-50
			@apply rounded-full
			height: 3px

.invert
	filter: invert(1)

.panel
	@apply bg-white
	@apply cursor-pointer
	@apply flex
	@apply my-3
	@apply overflow-hidden
	@apply rounded-lg
	@apply shadow-md
	@apply w-full

	& > *
		&.colorized
			@apply font-semibold

		&:not(.colorized)
			@apply text-gray-700

		&:first-child
			& > img
				@apply w-16

		&:last-child
			&.green, &.red, &.yellow
				flex: 0 1
				@apply justify-center
				@apply font-black
				@apply mr-1
				@apply px-2
				@apply py-1
				@apply text-white
				@apply text-xl
				@apply tracking-wide
				@apply rounded-full

			&.green
				+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.green.400'), theme('colors.green.300'))

			&.red
				+diagonalLinearGradient(theme('colors.orange.300'), theme('colors.red.300'), theme('colors.red.400'))

			&.yellow
				+diagonalLinearGradient(theme('colors.green.400'), theme('colors.yellow.300'), theme('colors.orange.200'))

	&.cursor-default
		@apply cursor-default

	article
		@apply flex
		@apply flex-row
		@apply h-full
		@apply items-center
		@apply overflow-hidden
		@apply text-center
		@apply w-full

		&.compact
			h1
				@apply text-4xl

			.article-left, .article-right
				@apply p-3
				@apply self-stretch

			.article-left
				@apply w-1/3

			.article-right
				@apply w-2/3

				.article-label
					@apply py-0

					& > *
						& > *
							@apply cursor-pointer

		.article-left, .article-right
			@apply flex
			@apply flex-col
			@apply min-h-full
			@apply p-4
			@apply text-left
			@apply w-1/2

			& > *
				@apply flex-1

		.article-left
			@apply flex-row
			@apply items-center
			+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.blue.400'), theme('colors.purple.400'))

			&.green
				+diagonalLinearGradient(theme('colors.teal.300'), theme('colors.green.400'), theme('colors.green.300'))

			&.purple
				+diagonalLinearGradient(theme('colors.pink.400'), theme('colors.purple.400'), theme('colors.indigo.400'))

			&.red
				+diagonalLinearGradient(theme('colors.orange.300'), theme('colors.red.300'), theme('colors.red.400'))

			&.yellow
				+diagonalLinearGradient(theme('colors.green.400'), theme('colors.yellow.300'), theme('colors.orange.200'))

			h1
				@apply capitalize
				@apply font-black
				@apply text-center
				@apply text-white
				@apply text-5xl

				&.huge
					@apply tracking-widest
					@apply uppercase

		.article-right
			@apply items-start

			.article-label
				@apply py-1

				h3
					@apply font-semibold
					@apply text-gray-800

				p
					@apply text-sm
					@apply text-gray-700

	.panel-image
		@apply flex
		@apply flex-row
		@apply items-center

	.panel-text
		@apply flex
		@apply flex-row
		@apply flex-grow
		@apply items-center
		@apply ml-4

		input
			@apply bg-gray-100
			@apply rounded-full

		p
			@apply flex
			@apply items-center

			&.panel-title
				@apply capitalize
				@apply justify-start
				@apply text-gray-700
				@apply text-left
				@apply w-1/3

		.panel-subtitle
			@apply font-bold
			@apply justify-end
			@apply p-2
			@apply text-gray-800
			@apply text-right
			@apply w-2/3

.select-arrow
	@apply absolute
	@apply flex
	@apply inset-y-0
	@apply items-center
	@apply pointer-events-none
	@apply px-2
	@apply right-0
	@apply text-gray-400

	svg
		@apply fill-current
		@apply h-4
		@apply w-4