=bgOpacity($color, $opacity)
	background: $color
	background: rgba($color, $opacity)

=borderGradient($from, $to, $weight: 0)
	$mix-main: mix($from, $to)
	$mix-sub-from: mix($mix-main, $from)
	$mix-sub-to: mix($mix-main, $to)
	box-shadow: inset 0 1px 0 $weight rgba($mix-sub-to, .25), inset 0 -1px 0 $weight rgba($mix-sub-from, .25), inset 1px 0 0 $weight rgba($mix-sub-to, .25), inset -1px 0 0 $weight  rgba($mix-sub-from, .25), inset 1px -1px 0 $weight rgba($mix-main, .5), inset -1px 1px 0 $weight rgba($mix-main, .5), inset 1px 1px 0 $weight rgba($to, .75), inset -1px -1px 0 $weight rgba($from, .75)

=diagonalLinearGradient($top, $mid, $bottom)
	background: $top
	background: -moz-linear-gradient(-75deg, $top 0%, $mid 50%, $bottom 100%)
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$top), color-stop(50%,$mid), color-stop(100%,$bottom))
	background: -webkit-linear-gradient(-75deg, $top 0%, $mid 50%, $bottom 100%)
	background: -o-linear-gradient(-75deg, $top 0%, $mid 50%, $bottom 100%)
	background: -ms-linear-gradient(-75deg, $top 0%, $mid 50%, $bottom 100%)
	background: linear-gradient(165deg, $top 0%, $mid 50%, $bottom 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bottom,GradientType=1)

=transform($transforms)
	-webkit-transform: $transforms
	-moz-transform: $transforms
	-ms-transform: $transforms
	transform: $transforms

=transition($args...)
	-webkit-transition: $args
	-moz-transition: $args
	-ms-transition: $args
	-o-transition: $args
	transition: $args

=verticalLinearGradient($top, $bottom)
	background: $top
	background: -moz-linear-gradient($top 0%, $bottom 100%)
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,$top),  color-stop(100%,$bottom))
	background: -webkit-linear-gradient($top 0%, $bottom 100%)
	background: -o-linear-gradient($top 0%, $bottom 100%)
	background: -ms-linear-gradient($top 0%, $bottom 100%)
	background: linear-gradient($top 0%, $bottom 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bottom,GradientType=1)